.slider_container{
    height: 500px;
    position: relative;
}

.slider{
    width: 100%;
    height: fit-content;
    vertical-align: baseline;
}

.slider img{
    max-width: 1800px;
    width: auto;
}

.awssld {
    --slider-height-percentage: 500px !important;

}

.awssld__bullets {
    bottom: 7px !important;
    z-index: 5;
}

.container{
    width: 1250px;
    max-width: 94%;
    margin: auto;
    padding: 15px;
}

.chose_time{
    display: flex;
    justify-content: flex-start;
    height: 50px;
    max-width: 100%;
    position: relative;
}

.chose_time::after{
    content: " ";
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 1px;
    width: 100%;
    background-color: rgb(196, 193, 191);
}

.container .chose_time a{
    line-height: 35px;
    position: relative;
    color: rgb(153, 152, 152);
    margin: 10px 45px 0 0; 
    font-size: large;
}

.chose_time a::after{
    content: " ";
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    width: 98%;
    background-color: chocolate;
    transform: scale(0);
    transition: 0.5s;
}


.container .chose_time a:hover{
    color: rgb(39, 36, 34);
}

.container .chose_time a:hover:after{
    transform: scale(1);
}


.list_films{
    width: 100%;
    margin-top: 15px;
    flex-direction: row;
    font-weight: 500;
}

.film{
    margin-top: 10px;
    margin-top: 25px;
    width:32%;
}

.film p{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 5px;
    width: 100%;
    text-align: left;
}

.film p{
    color: #43464b;
}

.film p.vn{
    color: #a0a3a7;
}

.film img{
    width: 100%;
    height: 100%;
}

.btn {
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #f26b38;
    border: 1px solid #f26b38;
    padding: 15px 20px;
    line-height: 1;
    transition: 0.5s;
}

.btn:hover {
    color: #ffffff;
    background-color: #f26b38;
    border-color: #f26b38;
}

.fl-right {
    float: right;
}

footer{
    background-color: rgba(24, 23, 23, 0.842);
    color: white;
    height: 65px;
    width: 100%;
}

footer p{
    width: 1250px;
    margin: auto;
    line-height: 65px;
}


.box-buy-ticket {
    position: absolute;
    right: 5%;
    top: 30px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    color: white;
}

@media screen and (min-width: 320px) and (max-width: 768px){
    .box-buy-ticket {
        position: initial;
        right: 0;
        bottom: 0;
        background-color: #ffffff;
        padding: 0 15px;
    }
}


@media only screen and (max-width: 1280px){
    .box-buy-ticket {
        right: 30px;
        top: 22px;
    }
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.label-tab {
    background-color: #f26b38;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px 15px;
    position: absolute;
    top: 0;
    left: 0;
    vertical-align: baseline;
}

.box-buy-ticket .ant-tabs{
    color: white;
    margin-top: 45px;
}

.box-buy-ticket .ant-tabs-tab{
    padding: 8px 12px;
}

.box-buy-ticket .ant-tabs-tab:hover{
    color: coral;
}

.box-buy-ticket .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
    color: coral;
}

.box-buy-ticket .ant-tabs-ink-bar{
    background: coral;
    width:max-content;
}

.box-buy-ticket .ant-select{
    min-width: 100%;
    margin: 10px 5px 15px 0px;
    display: block;
    background-color: #a7a4a0d0;
}

.box-buy-ticket .ant-select:not(.ant-select-customize-input) .ant-select-selector{
    background-color: rgba(122, 118, 113, 0.801);
    border: none;
    color: white;
    height: 40px;
    align-items: center;
}

.box-buy-ticket .ant-select-selection-search-input{
    justify-content: left;
    left: 0;
}

