.slider_container {
    height: 500px;
    position: relative;
}

.slider {
    width: 100%;
    max-width: 1800px;
    height: fit-content;
    vertical-align: baseline;
    margin: auto;
}

.slider img {
    max-width: 1800px;
    height: 500px;
    width: auto;
    margin: auto;
}

.slider .Carousel {
    margin: auto;
}

.awssld {
    --slider-height-percentage: 500px !important;
}

.awssld__bullets {
    bottom: 7px !important;
    z-index: 5;
}

.container {
    width: 1250px;
    max-width: 94%;
    margin: auto;
    padding: 15px;
}

.tabs {
    display: flex;
    justify-content: flex-start;
    height: 50px;
    max-width: 100%;
    position: relative;
}

.tabs::after {
    content: " ";
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 1px;
    width: 100%;
    background-color: rgb(196, 193, 191);
}

.tabs a {
    line-height: 35px;
    position: relative;
    color: rgb(153, 152, 152);
    margin: 10px 45px 0 0;
    font-size: large;
}

.tabs a::after {
    content: " ";
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    width: 98%;
    background-color: chocolate;
    transform: scale(0);
    transition: 0.5s;
}

.tabs a:hover {
    color: rgb(39, 36, 34);
}

.tabs a:hover:after {
    transform: scale(1);
}

.list_films {
    width: 100%;
    margin-top: 15px;
    flex-direction: row;
    font-weight: 500;
}

.film {
    margin-top: 10px;
    margin-top: 25px;
    width: 32%;
}

.film p {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 5px;
    width: 100%;
    text-align: left;
}

.film p {
    color: #43464b;
}

.film p.vn {
    color: #a0a3a7;
}

.film img {
    width: 100%;
    height: 100%;
}

.btn {
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #f26b38;
    border: 1px solid #f26b38;
    padding: 15px 20px;
    line-height: 1;
    transition: 0.5s;
}

.btn:hover {
    color: #ffffff;
    background-color: #f26b38;
    border-color: #f26b38;
    cursor: pointer;
}

.fl-right {
    float: right;
}

.content-text p{
    color: black;
    font-family: 'Roboto', sans-serif;
}

footer {
    background-color: rgba(24, 23, 23, 0.842);
    color: white;
    height: 65px;
    width: 100%;
}

footer p {
    width: 100%;
    margin: auto;
    line-height: 65px;
}

.rating {
    align-items: baseline;
    color: #a0a3a7;
    font-weight: 500;
    font-size: 16px;
}

.rating .anticon svg path {
    fill: #fac917;
    align-items: baseline;
}

.rating .rateNo {
    margin-left: 10px;
    align-items: baseline;
    display: inline;
    color: black;
}