.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

* {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.Router {
  margin-top: 0;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.upper {
  text-transform: uppercase;
}

.header {
  background-color: #f7f9fa;
}

.head_content {
  height: 80px;
  width: 1250px;
  max-width: 100%;
  margin: auto;
  align-items: center;
}

.logo {
  height: 80px;
}

.div_input {
  position: relative;
}

.input {
  width: 300px;
  height: 34px;
  border: solid rgb(214, 213, 213) 1px;
  border-radius: 3px;
}

.search {
  right: 7px;
  top: 10px;
  position: absolute;
}

.input::focus {
  border: solid rgb(235, 229, 229) 1px;
}

.login, .logout {
  color: black;
  transition: 0.3s;
  position: relative;
  z-index: 1001;
  cursor: pointer;
}

.login {
  width: 200px;
}

.logout {
  padding-top: 10px;
  padding-bottom: 10px;
}

.login:hover>label {
  cursor: pointer;
  color: chocolate;
}

.icon-user {
  margin-right: 10px;
}

.black {
  background-color: black;
  width: 100%;
  margin: auto;
  font-weight: 500;
}

.menu {
  width: 100%;
  margin: auto;
}

.menu .flex {
  list-style: none;
  color: white;
  line-height: 50px;
  padding: 0;
  width: 1300px;
  margin: auto;
}

.menu .flex a,p {
  transition: 0.3s;
  color: white;
  cursor: pointer;
  margin-bottom: 0px;
}

ul a:hover {
  cursor: pointer;
  color: chocolate;
}

.user {
  position: absolute;
  list-style: none;
  top: 100%;
  left: 0px;
  text-align: left;
  background: #fff;
  color: #000;
  box-shadow: 0px 5px 10px rgb(120, 120, 120);
  display: none;
  padding: 5px;
  width: max-content;
  transition: ease 0.5s;
}

.user li {
  padding: 2px 10px 2px 10px;
}

.user a {
  color: #000;
}

.user li:hover {
  color: chocolate;
}

.logout:hover>ul {
  display: inherit;
  transition: ease 0.5s;
}

.logout p {
  margin: 0;
}

.logout:hover p {
  color: chocolate;
}
